{% extends "base.html" %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="styles.css" />

{% endblock %} {% block content %}
<body>
  <div class="container">
    <h1>Traxsense</h1>
  </div>
  <div class="container">
    <p>
      An intelligent asset management solution which enables your business to
      interface with the real world through IoT technology. Through intuitive
      task management, your business can gain real-world benefits though easily
      integrating your business into our platform.
    </p>
  </div>

  <section class="carousel" aria-label="carousel" tabindex="0">
    <a class="carousel__skip-link" href="#skip-link">Skip the Carousel</a>
    <div class="slides">
      <div class="slides-item" id="slide-1" tabindex="0">
        <div class="slide-content">
          <img
            src="assets/images/home/itemManagement.png"
            alt="Item management"
          />
          <div class="slide-text">
            <h2>Item Management</h2>
            <p>Manage your items' information and keep track of any changes</p>
          </div>
        </div>
      </div>

      <div class="slides-item" id="slide-2" tabindex="0">
        <div class="slide-content">
          <img src="assets/images/home/itemDataFramed.png" alt="Item Info" />
          <div class="slide-text">
            <h2>Item Information</h2>
            <p>Allow employees to edit configurable item information</p>
          </div>
        </div>
      </div>
      <div class="slides-item" id="slide-3" tabindex="0">
        <div class="slide-content">
          <img
            src="assets/images/home/taskViewFramed.png"
            alt="Task Management"
          />
          <div class="slide-text">
            <h2>Task Management</h2>
            <p>Employees are pushed tasks to complete on their mobile device</p>
          </div>
        </div>
      </div>
    </div>
    <div id="carouselButtons" class="carousel__nav">
      <a
        class="slider-nav active-button"
        href="#slide-1"
        onclick="navigateToSlide(event, '#slide-1')"
        >1</a
      >
      <a
        class="slider-nav"
        href="#slide-2"
        onclick="navigateToSlide(event, '#slide-2')"
        >2</a
      >
      <a
        class="slider-nav"
        href="#slide-3"
        onclick="navigateToSlide(event, '#slide-3')"
        >3</a
      >
    </div>
    <div class="carousel__skip-message" id="skip-link" tabindex="0"></div>
  </section>

  <div class="container">
    <h1>Products</h1>
  </div>
  <div class="container">
    <p>Choose a product that suits you.</p>
  </div>

  <div class="productSquaresContainer">
    <div class="productSquares">
      <div class="productSquaresContent">
        <h4 class="productSquaresTitle">Inventory Management</h4>
        <p>Manage and understand your inventory</p>
        <p>
          Inventory your assets easily using RFID and understand your stock
          levels
        </p>
        <a href="#contact" class="productSquaresButton">Contact Us</a>
      </div>
    </div>

    <div class="productSquares">
      <div class="productSquaresContent">
        <h4 class="productSquaresTitle">Asset Management</h4>
        <p>Control your businesses assets</p>
        <p>
          Manage your business assets by using traxsense to assign, report,
          inventory, and track your assets
        </p>
        <a href="#contact" class="productSquaresButton">Contact Us</a>
      </div>
    </div>

    <div class="productSquares">
      <div class="productSquaresContent">
        <h4 class="productSquaresTitle">Inspection Management</h4>
        <p>Understand the conditions of your assets</p>
        <p>
          Ensure that the assets you have deployed in the field are in optimum
          condition.
        </p>
        <a href="#contact" class="productSquaresButton">Contact Us</a>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Features</h1>
  </div>
  <div class="container">
    <p>A quick glance at what Traxsense can provide</p>
  </div>

  <div style="display: flex">
    <div style="flex: 1; padding-right: 10px">
      <div>
        <img
          id="accordion-img"
          src="assets/images/home/acquisitionMonitoring.png"
          class="image-resize"
        />
      </div>
    </div>

    <div style="flex: 1">
      <div id="chapters" style="padding-left: 10px">
        <div class="accordion-item" onclick="toggleAccordion(1)">
          <h2 class="accordion-header" style="margin: 0">
            <button
              class="accordion-button"
              type="button"
              data-default-open="true"
            >
              IoT Technology
            </button>
          </h2>
          <div id="chapter-1" class="accordion-collapse">
            <div class="accordion-body">
              <p>
                Through the use of Barcode, RFID, BLE, ML Kit, Sigfox,
                Geolocation, and many more, Traxsense does the low-level work so
                that your business doesn't have to.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item" onclick="toggleAccordion(2)">
          <h2 class="accordion-header" style="margin: 0">
            <button class="accordion-button collapsed" type="button">
              Mobile Task Management
            </button>
          </h2>
          <div id="chapter-2" class="accordion-collapse">
            <div class="accordion-body">
              <p>
                Use Traxsense to request inventories, inspections, picking,
                managing registration, and issuing.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item" onclick="toggleAccordion(3)">
          <h2 class="accordion-header" style="margin: 0">
            <button class="accordion-button collapsed" type="button">
              Real Time Location Tracking
            </button>
          </h2>
          <div id="chapter-3" class="accordion-collapse">
            <div class="accordion-body">
              <p>
                Using static readers, gateways, and GPS, Traxsense can give you
                a real-time view of your assets and where they are.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item" onclick="toggleAccordion(4)">
          <h2 class="accordion-header" style="margin: 0">
            <button class="accordion-button collapsed" type="button">
              Rule Engine
            </button>
          </h2>
          <div id="chapter-4" class="accordion-collapse">
            <div class="accordion-body">
              <p>
                Our rule engine gives you the ability to alert, export, effect,
                and optimize your workflow.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item" onclick="toggleAccordion(5)">
          <h2 class="accordion-header" style="margin: 0">
            <button class="accordion-button collapsed" type="button">
              Enabling RFID
            </button>
          </h2>
          <div id="chapter-5" class="accordion-collapse">
            <div class="accordion-body">
              <p>
                If you are currently using barcodes in your business and would
                like to enable your business to use RFID, look no further than
                Traxsense.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <div id="contact">
    <div style="display: flex; justify-content: center">
      <div style="margin-right: 20px; padding: 10px">
        <h1>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            fill="currentcolor"
            class="bi bi-telephone-fill"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1.885.511a1.745 1.745.0 012.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678.0 00.178.643l2.457 2.457a.678.678.0 00.644.178l2.189-.547a1.745 1.745.0 011.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634.0 01-7.01-4.42A18.634 18.634.0 01.148 4.422c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
            ></path>
          </svg>
          Call
        </h1>
        <p class="lead">
          <a href="tel:+27 10 350 5200">+27 10 350 5200</a>
        </p>
        <p class="lead">
          <a href="tel:+27 11 794 3513">+27 11 794 3513</a>
        </p>
      </div>
      <div style="padding: 10px">
        <h1>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            fill="currentcolor"
            class="bi bi-envelope-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M.05 3.555A2 2 0 012 2h12a2 2 0 011.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83.191 12.857A2 2 0 002 14h12a2 2 0 001.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"
            ></path>
          </svg>
          Email
        </h1>
        <p class="lead">
          <a href="mailto:sales@rfid.co.za">sales@rfid.co.za</a>
        </p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="script.js"></script>
</body>
{% endblock %}
